/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 ene 2024, 15:50:24
    Author     : rosal
*/

 @keyframes slideRight {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(100%); /* Desplaza el texto hacia la derecha */
                }
            }
            .logo img {
                max-width: 100px;
                height: auto;
                align-content: flex-start;
                background: white;
            }

            .titulo h1{
                margin-left: auto;
                font-family: sans-serif;
                animation: slideRight 9s linear infinite;
                color: white;
            }

            .tabla{
                background: white;
            }

            .contenedor{
                font-family: sans-serif;

                background-color: #898dd9;
            }

            .footer{
                margin-top: 8rem;
            }

            .nav-bg{
                margin-bottom:  2rem;

            }


